## Q1. List any five functions of the pandas library with execution.

In [ ]:
#1
import pandas as pd

# Reading a CSV file into a DataFrame
data = pd.read_csv('data.csv')
print(data.head())

#2
# Displaying the first 5 rows of the DataFrame
print(data.head())

#3
# Displaying information about the DataFrame
print(data.info())

#4
# Generating descriptive statistics of the DataFrame
print(data.describe())

#5
# Filling missing values in the DataFrame with the mean of the column
data_filled = data.fillna(data.mean())
print(data_filled.head())

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})

def reindex_dataframe(df):
    df_reset = df.reset_index(drop=True)
    
    new_index = pd.Series(range(1, len(df_reset) * 2, 2))
    
    df_reset.index = new_index
    
    return df_reset

new_df = reindex_dataframe(df)
print(new_df)

   A  B   C
1  1  5   9
3  2  6  10
5  3  7  11
7  4  8  12

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

## For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [2]:
import pandas as pd

def calculate_sum_of_first_three_values(df):
    first_three_values = df['Values'].head(3)
    
    sum_of_first_three_values = first_three_values.sum()
    

    print("Sum of the first three values:", sum_of_first_three_values)

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

calculate_sum_of_first_three_values(df)

Sum of the first three values: 60

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [5]:
def add_word_count_column(df):
    word_count = lambda text: len(text.split())

    df['Word_Count'] = df['Text'].apply(word_count)
    
    return df

df = pd.DataFrame({'Text': ['Arun', 'Varun vellte', 'Klaiaaa sa ma ka tui']})

df_with_word_count = add_word_count_column(df)
print(df_with_word_count)

                   Text  Word_Count
0                  Arun           1
1          Varun vellte           2
2  Klaiaaa sa ma ka tui           5

## Q5. How are DataFrame.size() and DataFrame.shape() different?

In [6]:
# DataFrame.size()
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

print(df.size)

6

In [7]:
# DataFrame.shape()

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

print(df.shape)

(3, 2)

## Q6. Which function of pandas do we use to read an excel file?

# >> read_excel()

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [8]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda email: email.split('@')[0])
    
    return df

df = pd.DataFrame({'Email': ['user1@example.com', 'user2@example.com', 'user3@example.com']})

df_with_username = extract_username(df)
print(df_with_username)

               Email Username
0  user1@example.com    user1
1  user2@example.com    user2
2  user3@example.com    user3

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:

<p>
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.
<p>

In [10]:
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    
    return selected_rows

df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})


selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [12]:
def calculate_statistics(df):
   
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    
    return mean_value, median_value, std_value


df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

mean, median, std = calculate_statistics(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

## Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [13]:
def calculate_moving_average(df):
    df['Date'] = pd.to_datetime(df['Date'])
    
    df.sort_values(by='Date', inplace=True)
    
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

df = pd.DataFrame({'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
                    'Sales': [10, 20, 30, 40, 50]})


df_with_moving_average = calculate_moving_average(df)
print(df_with_moving_average)

        Date  Sales  MovingAverage
0 2024-01-01     10           10.0
1 2024-01-02     20           15.0
2 2024-01-03     30           20.0
3 2024-01-04     40           25.0
4 2024-01-05     50           30.0

<p><b>Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.<b><p>

In [14]:
def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    
    df['Weekday'] = df['Date'].dt.strftime('%A')
    
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [15]:
import pandas as pd

def select_rows_in_date_range(df):
    df['Date'] = pd.to_datetime(df['Date'])
    
    start_date = pd.Timestamp('2023-01-01')
    end_date = pd.Timestamp('2023-01-31')
    
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return selected_rows

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10']})

selected_df = select_rows_in_date_range(df)
print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

## Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

# import pandas as pd